<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Studio Manager</title>
    </head>
    <body>
        <h1>Software index page</h1>
        <nav>
          <a href="/studio/software/new">Create New Software</a>
        </nav>
        <ul>
            <% for(let i = 0; i < studio.length; i++){ %>
              <li>
                <a href="/studio/software/<%=studio[i].id %>">
                    <%=studio[i].name %>
                </a>
                <a href=""></a>
                <form action="/studio/software/<%= studio[i].id %>?_method=DELETE" method="POST">
                    <input type="submit" value="DELETE"/>
                </form>
                <a href="/studio/software/<%=studio[i].id %>/edit">Edit</a>
            </li>
            <% } %>
        </ul>
    </body>
</html>