<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Main</title>
</head>
<body>
    <header>
        <div class = "banner">
            <h1>Studio-Manager</h1>
        </div>
    </header>
    <a href="/studio/instruments">Instruments</a>
    <a href="/studio/effects">Effects</a>
    <a href="/studio/software">Software</a>
    <a href="/studio/accessories">Accessories</a>
</body>
</html>